* {
	background-color: black;
}

#wordmark {
	max-width:500px;
	width:40%;
	padding-left: 10%;
}

#icon {
	max-width:400px;
	width:30%;
	margin-top:-5%;
}

h1 {
	font-family: 'Oswald Bold', sans-serif;
	text-align:center;
	margin-bottom:-.5rem;
	color:white;
	letter-spacing:0.1em;
}

#burgers {
	text-align:center;
	padding: 0 10% 2% 10%;
	color:white;
}

#drinks {
	text-align:center;
	padding: 0 10% 2% 10%;
	color:white;
}

#locations{
	text-align:center;
	padding: 0 10% 2% 10%;
	color:white;
}

.title {
	font-family: 'Oswald Bold', sans-serif;
	font-size:1.15rem;
	font-weight:bold;
	margin: 1rem 0 -1rem 0;
	letter-spacing:0.1em;
}

.content{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.1em;
}

.crazy_hour{
	text-align:center;
	color:white;
	padding: 0 10% 2% 10%;
}

.crazy_hour h3{
	margin-bottom: -1rem;
	font-family: 'Oswald Bold', sans-serif;
	letter-spacing:0.1em;
}

#drinks .title{
	margin: 1rem 0 -1rem 0;
}

@media (max-width: 800px) {
	#wordmark{
		padding: 0%;
		width:80%;
		margin:0px 10%;
	}
	#icon {
		display:block;
		width:50%;
		margin:-5% 15% 0% 35%;
	}
}

@media (max-width:480px) {
	#wordmark{
		padding: 0%;
		width:95%;
		margin: 0px 2.5%;
	}
	#icon{
		display:none;
	}
}

